.main-container {
    position: relative;
    width: 600px;
    height: 300px;
}

.profile-picture {
    position: absolute;
    left: 0;
    width: 215px;
    height: 215px;
    
    border: 2px solid #eee;
    border-radius: 5px;
}

#pic { 
    width:200px;
    height:200px;
    margin: 2.5px;
}

.info-container { 
    position: absolute;
    right: 0;
    width: 345px;
    margin: auto;
    
    border: 2px solid #eee;
    border-radius: 5px;
}

#name-header { background-color: #f5f5f5; }

h4 {
    margin-top: 0px;
    margin-bottom: 5px;
    padding-top: 5px;   
    padding-left: 5px;
}

.separator {
    border-bottom: 1px solid #eee;
    padding-top: 5px;
    padding-left: 5px;
}

p {
    margin: 0 0 10px;
    padding-left: 5px;
}


dl {
    margin-top: 0;
    margin-bottom: 10px;
}

dt {
    float: left;
    clear: left;
    margin-left: 5px;
    line-height: 2;
}

dd { line-height: 2;}


.pic_ina
{
    height:90px;
    width:30%;
    float:left;
}
.con_ina
{
    height:100px;
    width:67%;
    margin-left:3%;
    float:left;
}
.btn_inr
{
    float:right;
    margine-top:25px;
}